<table>
  <tbody>
    <tr>
      <th>Trello Host URL</th>
      <td>
        <input type="text" id="settings_trello_default_host" 
                           value="<%= settings['trello_url'] %>" 
                           name="settings[trello_url]" >
      </td>
    </tr>
  </tbody>
</table>